<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630521818306-9dtq6n4kbcgmv01fghicv2ne5ua191ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630521818306-9dtq6n4kbcgmv01fghicv2ne5ua191ne</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Bu6tF_BU6PMGtg69mGrCCxCLS-GS9mU</string>
	<key>GCM_SENDER_ID</key>
	<string>630521818306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relatedcode.messenger</string>
	<key>PROJECT_ID</key>
	<string>myproject-8dd5c</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-8dd5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630521818306:ios:bd7020c46065305c165f5b</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-8dd5c.firebaseio.com</string>
</dict>
</plist>